@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.ban
{
	width: 600px;
	height: 350px;
}
.boldtext
{
	float: right;
	font-size: 60px;
	padding-right: 140px;
}
.special
{
	padding-left: 90px;
}
.register
{
	text-decoration: none;
	float: right;
	font-family: Raleway;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 15px;
	color: white;
	border:none;
	opacity: 0.7;
	background: #6C63FF;
	padding: 12px 26px 12px 26px;
	transition: all 0.5s;
	border-radius: 25px;
	margin-right: 300px;
	margin-top: -9.6% !important;
}
.register:hover
{
	opacity:1;
	transition: all 0.5s;
	transform: translateY(-1px);
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 255);
}
.content
{
	font-weight: 400;
	font-size: 21px;
	font-family: Montserrat;

	margin-top: -180px;
	margin-right: 220px;
	float: right;	
}