body
{
	background: rgb(220, 220, 220);
	margin: 0;
	
}
.header
{
	justify-content: center !important;

}
.link
{
	text-decoration: none;
	float: right;
	font-family: Raleway;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 15px;
	color: white;
	border:none;
	opacity: 0.7;
	background: #6C63FF;
	padding: 12px 26px 12px 26px;
	transition: all 0.5s;
	border-radius: 25px;
	margin-right: 30px;
	margin-top: -12.2% !important;
}
.link:hover
{
	opacity:1;
	transition: all 0.5s;
	transform: translateY(-1px);
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 255);
}
